@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

html,body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0;
  }

.navbar-nav .nav-link {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2E2F35;
}

.navbar-nav .nav-link:hover{
    color: black;
}


.custom-login-btn {
    background-color: white;
    color: black;
    width: 83.84px;
    height: 44px;
    border-radius: 12px;
    border: 2px solid rgb(16, 15, 15); 
     padding: 14px 22px 14px 22px; 
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 3px 3px 0px 0px rgba(46, 47, 53, 1);
    font-family: "Inter";
   
    
}
.custom-create {
    background-color:#e66a30;
    color: white;
    width: 184.86px;
    height: 44px;
    border-radius: 12px;
     border: 2px solid rgb(21, 18, 18);
    padding: 14px 22px 14px 22px;
    box-shadow: 3px 3px 0px 0px rgba(46, 47, 53, 1);
    font-family: "Inter";
    margin-right: 90px;


}
.custom-login-btn {
    background-color: white !important;
    color: black !important;
    box-shadow: 3px 3px 0px 0px rgba(46, 47, 53, 1)!important;
    border-radius: 12px !important;
    border: 1px solid rgb(16, 15, 15) !important; 
    
}
.custom-create {
    background-color: #e66a30 !important;
    color: white !important;
    border-radius: 12px !important;
    border: 1px solid rgb(21, 18, 18) !important;
    box-shadow: 3px 3px 0px 0px rgba(46, 47, 53, 1)!important;
}

.bannerForm {
    padding: 50px 0; 
    min-height: 100px;
    margin-top: 70px; 
}
.contact-section {
    padding: 50px 0;
    background-color: #ffffff;
    margin-top: 70px; 
}

.section-title {
    font-family: "Inter";
font-size: 58px;
font-weight: 600;
line-height: 70.19px;
text-align: left;
text-underline-position: "from-font";
text-decoration-skip-ink: none;
margin-bottom: 50px;

}
@media only screen and (max-width:768px){
    .section-title{
        font-size: 40px;
        line-height: 40.19px;
        margin-bottom: 30px;
    }  
}
@media only screen and (max-width:375px){
    .section-title{
        font-size: 40px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 30px;
    }  

}

.section-title .section-line {
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: black;
    margin-right: 10px;
    vertical-align: middle;
}

.contact-item .icon {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 24px;
    margin-right: 15px;
   
    border-radius: 50%;
    margin-bottom: 30px;
}

.contact-text h5 {
    font-family: "Inter";
font-size: 30px;
font-weight: 600;
line-height: 36.31px;
text-align: left;
text-underline-position: "from-font";
text-decoration-skip-ink: none;
margin-top: 10px;
}
@media only screen and (max-width:768px){
    .contact-text h5{
        font-size: 20px;
        font-weight: 500;
    } 
    
}

.contact-text p {
    
color: #6c757d;
margin: 0;
font-family: "Inter";
font-size: 22px;
font-weight: 500;
line-height: 36.34px;
text-align: left;
text-underline-position:"from-font";
text-decoration-skip-ink: none;

}
@media only screen and (max-width:768px){
    .contact-text p {
        font-size: 20px;
        font-weight: 300;
    }
}




.contact-form-section {
    padding: 50px 0;
}
.contact-form-card {
    background-color: #fff7f2;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.form-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.form-check-input {
    margin-top: 6px;
}
.form-label{
    font-size: 16px;
    font-weight: 500;
    color: #808080;
    font-family: "Inter";
}
.heading{
    font-weight: 500;
    font-size: 58px;

}
@media only screen and (max-width: 768px){
    .heading{
        font-weight: 400;
        font-size: 38px;
    }
    @media only screen and (max-width: 425px){
        .heading{
            font-weight: 500;
            font-size: 28px;
        } 
    }
    
}



/*map*/
.map img{
width: 1290px;
height: 554.42px;
top: 2204px;
left: 219px;
gap: 0px;
opacity: 0px;
padding-top: 60px;
padding-bottom: 60px;
}
@media only screen and (max-width: 768px){
    .map img{
    width: 1090px;
    height: 500.42px;
  }
}
.ques h1{
    font-family: "Inter";
font-size: 50px;
font-weight: 500;
line-height: 50px;
letter-spacing: -0.5px;
margin-bottom: 30px;

}
.que p{
    font-family:" Inter";
font-size: 16px;
font-weight: 400;
line-height: 35px;

}
.questions{
    padding-left: 200px;
    padding-bottom: 50px;
    padding-top: 50px;
}
@media only screen and (max-width: 990px){
    .questions{
        padding-left: 50px;
        padding-bottom: 30px;
        padding-top: 50px;
        
    } 
    .questions summary{
        font-size: 1rem; 
    }
    

}
details {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}


.questions summary {
    margin-bottom: 1em;
    font-family: "Inter";
    font-size: 1.125rem; 
    font-weight: 500;
    line-height: 1.8rem; 
    letter-spacing: -0.03em;
    text-align: left;
    color: #0F2137;
    margin-right: 10%; 
    display: flex;
    align-items: center;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap; 
}

summary::before {
    content: "+"; 
    color: white;
    background-color: #FF6D2C;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    flex-shrink: 0;
    margin-right: 10px; 
}

details[open] summary::before {
    content: "-"; 
}

/*subcribe-section*/
.newsletter-title h2{
    font-family: "Inter";
font-size: 67px;
font-weight: 600!important;
line-height: 70.19px;
text-align: center;
text-decoration-skip-ink: none;


}
.newsletter-subtitle{
    font-family: "Inter";
font-size: 24px;
font-weight: 500;
line-height: 39.65px;
text-align: center;
padding-top: 30px !important;
padding-bottom: 30px !important;
}
@media only screen and (max-width:768px){
    .newsletter-subtitle{
        font-size: 14px;
        font-weight: 400;
        flex-wrap: wrap;
       
    }
}

.subcribe-label{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 6px;
    width: 100%;
    max-width: 400px;
}
.subcribe-label input{
    border: #212529;
    padding: 15px;
    width: 100%;
    
   
} 
@media only screen and(max-width:376px){
    .subcribe-label{
        width: 100px;
    }
}
.subcribe-btn{
    border: #212529;
    
    background-color: #e66a30;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #ffffff;
    padding-bottom: 5px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.14);
} 

/*form*/

  .form-box {
    background:#FDF3EA;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .custom-input {
    border: none !important;
    border-bottom: 1px solid #2d2e2f!important;
     border-radius: 0px !important;
    background-color: #FDF3EA !important;
  }
  
  .custom-input:focus {
    box-shadow: none !important;
    border-bottom: 1px solid #007bff;

  }

  .form-check-input {
    margin-right: 5px;
  }

  .btn-primary {
    background-color: hsl(30, 100%, 50%)!important;
    border: #FF6D2C!important;
    
  }

  .btn-primary:hover {
    background-color: black !important;
    
  }


